@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lista de Cidades</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Cidade</th>
            <th>País</th>
            <th>Propriedades</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model.Cities)
        {
            <tr>
                <td>@city.Name</td>
                <td>@city.Country?.CountryName</td>
                <td>
                    @if (city.Properties != null && city.Properties.Any())
                    {
                        <ul>
                            @foreach (var property in city.Properties)
                            {
                                <li>@property.Name</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>Sem propriedades cadastradas</span>
                    }
                </td>
                <td>
                    <a asp-page="/CityDetails" asp-route-name="@city.Name">Ver detalhes</a>
                </td>

            </tr>
        }
    </tbody>
</table>
